# 1 - Perkenalan

        Nama    : Gde Ondy Janeswara
        Batch   : 10
        Non Graded Challenge 1

# 2 -  Import Library

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

# 3 -  Data Loading

In [2]:
data = pd.read_csv('D:\Data Science Hacktiv8\data\healthcare-dataset-stroke-data.csv')

In [3]:
data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

# 4 - Exploratory Data Analysis (EDA)

In [4]:
newdata = data.copy()

In [5]:
data.drop(['work_type','Residence_type','smoking_status','ever_married'], axis = 1, inplace = True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   avg_glucose_level  5110 non-null   float64
 6   bmi                4909 non-null   float64
 7   stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(1)
memory usage: 319.5+ KB

In [7]:
data

,id,gender,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
0,9046,Male,67.0,0,1,228.69,36.6,1
1,51676,Female,61.0,0,0,202.21,NaN,1
2,31112,Male,80.0,0,1,105.92,32.5,1
3,60182,Female,49.0,0,0,171.23,34.4,1
4,1665,Female,79.0,1,0,174.12,24.0,1
...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,83.75,NaN,0
5106,44873,Female,81.0,0,0,125.20,40.0,0
5107,19723,Female,35.0,0,0,82.99,30.6,0
5108,37544,Male,51.0,0,0,166.29,25.6,0
5109,44679,Female,44.0,0,0,85.28,26.2,0

# 5 - Data Preprocessing

In [8]:
X = data.drop('stroke', axis=1)
y = data['stroke']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=15)

In [9]:
X_train['gender'] = X_train['gender'].map({'Female':0, 'Male':1})
X_test['gender'] = X_test['gender'].map({'Female':0, 'Male':1})

C:\Users\gdeon\AppData\Local\Temp/ipykernel_14748/1351025966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['gender'] = X_train['gender'].map({'Female':0, 'Male':1})
C:\Users\gdeon\AppData\Local\Temp/ipykernel_14748/1351025966.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['gender'] = X_test['gender'].map({'Female':0, 'Male':1})

In [10]:
median_bmi = X_train.bmi.median()
X_train.bmi.fillna(median_bmi, inplace=True)
X_test.bmi.fillna(median_bmi, inplace=True)
X_test.gender.fillna(0, inplace = True)

C:\Users\gdeon\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [11]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97      1214
           1       0.00      0.00      0.00        64

    accuracy                           0.95      1278
   macro avg       0.47      0.50      0.49      1278
weighted avg       0.90      0.95      0.93      1278

C:\Users\gdeon\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\gdeon\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\gdeon\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))